<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>473822815212-j0ehrbat3n14i6ael2gc15ghrpjm5vbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473822815212-j0ehrbat3n14i6ael2gc15ghrpjm5vbn</string>
	<key>API_KEY</key>
	<string>AIzaSyDutTLE17RILLh5TKG_O0iR2-DXk52JB_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>473822815212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.NextTimeApp</string>
	<key>PROJECT_ID</key>
	<string>nexttime-e65ec</string>
	<key>STORAGE_BUCKET</key>
	<string>nexttime-e65ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:473822815212:ios:d3666f0394fba574</string>
	<key>DATABASE_URL</key>
	<string>https://nexttime-e65ec.firebaseio.com</string>
</dict>
</plist>